/*************************************************/
/* CSS MENU ORIGIN */
/*************************************************/
header {
    margin-bottom: 94px;
}

.cbp-hrmenu {
    width: 100%;
    background-color: #fff;
    font-size: 15px;
    color: #002838;
    -webkit-box-shadow: 0 0px 9px 1px rgba(0,0,0,0.3);
    box-shadow: 0 0px 9px 1px rgba(0,0,0,0.1);
}

#cbp-hrmenu {
    position: fixed;
    z-index: 1010;
    display: block;
    top: 37px;
}

/* general ul style */
.cbp-hrmenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header-mobile {
    display: none;
}

.logo {
    float: left;
    padding: 0 !important;
    position: relative;
    width: 178px;
    z-index: 2000;
}

    .logo:hover {
        background: none !important;
    }

.top-logo {
    position: absolute;
    top: 12px;
    left: 0;
    z-index: 20;
}

.scroll-logo {
    position: absolute;
    top: 13px;
    left: 47px;
    z-index: 10;
    width: 44%;
    height: auto;
}

.header-mobile .top-logo {
    position: absolute;
    top: 0px;
    left: -6px;
}

.header-mobile .scroll-logo {
    position: absolute;
    top: 0px;
    left: 0;
}

/* first level ul style */
.cbp-hrmenu > ul {
    width: 1280px;
    margin: 0 auto;
    padding: 14px 0;
    position: relative;
}

    .cbp-hrmenu > ul > li {
        display: inline-block;
    }

        .cbp-hrmenu > ul > li.first-entry {
            margin-left: 170px;
        }

        .cbp-hrmenu > ul > li > a {
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            color: #002838;
            display: inline-block;
            font-weight: 400;
            padding: 14px 8px;
            text-decoration: none;
        }
.cbp-hrmenu.entry-v-en > ul > li > a {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #002838;
    display: inline-block;
    font-weight: 400;
    padding: 14px 30px;
    text-decoration: none;
}


.cbp-hrmenu > ul > li > a.contact {
    background-color: #afdb00;
    -webkit-border-radius: 10px;
    border-radius: 20px;
    height: 40px;
    padding: 11px 25px 13px 25px;
    color: #fff;
}

            .cbp-hrmenu > ul > li > a:hover,
            .cbp-hrmenu > ul > li.current a {
                color: #afdb00;

            }

            .cbp-hrmenu > ul > li > a.contact:hover {
                background-image: none !important;
            }

        .cbp-hrmenu > ul > li.cbp-hropen > a,
        .cbp-hrmenu > ul > li.cbp-hropen > a:hover {
            background-image: url(/Content/images/design/bg-menu-hover.png);
        }

.cbp-hrsub-inner .right-menu a.close {
    background-image: url(/Content/images/design/cross-menu.png) !important;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 25px;
    width: 25px;
    top: 10px;
    position: absolute;
    right: 10px;
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 83px;
}

.cbp-hropen .cbp-hrsub {
    display: block;
    padding-bottom: 3em;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
    float: left;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
    content: " ";
    display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
    clear: both;
}

.cbp-hrsub h4 {
    color: #afdefa;
    margin: 0;
    font-size: 160%;
    font-weight: 300;
}


header form {
    float: left;
    background: url("/Content/images/design/sprite.png") no-repeat scroll -409px -458px;
    margin-top: 5px;
    width: 175px;
    height: 42px;
}
li.search.v-en{
    margin-left:60px;
}
@media screen and (max-width:890px) {
    li.search.v-en {
        margin-left: 0;
    }
}

li.search .bouton-recherche {
    background: url("/Content/images/design/sprite.png") no-repeat scroll 0px -135px;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    outline: none;
    text-indent: -9999px;
    width: 46px;
    margin-top: 5px;
}

.flagPos {
    position: absolute;
    right: -120px;
    top: 15px;
    border-left: 1px solid #dedede;
    color: #0094ff !important;
    font-weight: 600 !important;
}
    .flagPos:hover {
        position: absolute;
        right: -120px;
        top: 15px;
        border-left: 1px solid #dedede;
        color: #afdb00 !important;
        font-weight: 600 !important;
    }

.cbp-hrmenu > ul > li.flagDesign a:hover {
    background-color: transparent;
}
#bloc-contact-mobile{
    display:none;
}

@media screen and (min-width: 961px) {
    li.search {
        height: 32px;
        position: relative;
        width: 30px;
    }

        li.search #recherche {
            height: 40px;
            padding: 0 10px;
            width: 125px;
            float: left;
            background-color: transparent;
            border: none;
        }
}

.langue {
    color: #4d5051;
}

    .langue.uk::before {
        background: rgba(0, 0, 0, 0) url("/Content/images/design/sprite.png") no-repeat scroll 0 0;
        content: " ";
        display: inline-block;
        float: left;
        height: 22px;
        margin-top: -1px;
        width: 22px;
        margin-right: 2px;
    }

    .langue.fr::before {
        background: rgba(0, 0, 0, 0) url("/Content/images/design/flag-france.gif") no-repeat scroll 0 0;
        content: " ";
        display: inline-block;
        float: left;
        height: 22px;
        margin-top: -1px;
        width: 30px;
        margin-right: 4px;
    }

/******************   ICONES SOCIAL HEADER   **********************/
header .social {
    position: absolute;
    right: 0;
    top: 127px;
    z-index: 1001;
}

.social li {
    display: inline-block;
    height: 56px;
    width: 56px;
}

    .social li a {
        background: rgba(0, 0, 0, 0) url("/Content/images/design/sprite.png") no-repeat scroll -60px 0;
        display: block;
        height: 100%;
        width: 100%;
    }

.social .facebook a {
    background-position: 0 0px;
}


    .social .facebook a:hover {
        background-position: 0 -60px;
    }

.social .twitter a {
    background-position: -67px 0px;
}


    .social .twitter a:hover {
        background-position: -67px -60px;
    }

.social .linkedin a {
    background-position: -199px 0px;
}


    .social .linkedin a:hover {
        background-position: -199px -60px;
    }

.social .youtube a {
    background-position: -133px 0;
}

    .social .youtube a:hover {
        background-position: -133px -60px;
    }

.social .instagram a {
    background-position: -836px -765px;
}

    .social .instagram a:hover {
        background-position: -905px -765px;
    }

.social .snapchat a {
    background-position: -95px -120px;
}

    .social .snapchat a:hover {
        background-position: -157px -121px;
    }

/*****************BURGER ANIME*********************/



.burger_boite {
    height: 24px;
    left: 90%;
    position: relative;
    top: 12px;
    width: 24px;
    cursor: pointer;
}

    .burger_boite a {
        display: block;
        position: absolute;
    }


.burger,
.burger::before,
.burger::after {
    position: absolute;
    top: 12px;
    left: 0;
    width: 24px;
    height: 4px;
    background-color: #afdb00;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

    .burger::before,
    .burger::after {
        content: "";
        display: block;
    }

    .burger::before {
        top: -8px;
    }

    .burger::after {
        top: 8px;
    }

.burger_boite.cross .burger {
    background-color: white;
}

    .burger_boite.cross .burger::before {
        top: 0px;
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background-color: #afdb00;
    }

    .burger_boite.cross .burger::after {
        top: 0px;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: #afdb00;
    }

.left-menu {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 123px;
    height: 508px;
}

    .left-menu.heightEn {
        height: 326px;
        padding-top: 30px;
    }

    .left-menu .col-md-6 {
        max-width: 610px;
    }

    .left-menu .col-md-3 {
        max-width: 260px;
    }

/*.right-menu .col-md-12.rel{
    padding-right:0;
    padding-left:0;
}
.col-sm-5.right-menu{
    padding-right:0;
    padding-left:0;
}*/

.col-sm-7.left-menu {
    width: 50%;
}
/*.col-sm-5.right-menu{
    width:50%;
}*/

.right-menu {
    background-color: #fff;
    padding-top: 15px;
    /*
       padding-bottom: 7px;
    min-height: 326px;

   */
}
    .right-menu.bkg-jpo {
        background-color: #00b1eb;
        padding: 9px 0;
    }

.left-menu h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'transatlight', sans-serif;
    color: #afdb00;
}

.left-menu p.cosmotitle {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'transatlight', sans-serif;
    color: #afdb00;
}

.cbp-hrsub-inner .left-menu a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    color: #002838;
    display: block;
    font-family: Roboto,sans-serif;
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 18px;
    padding-left: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}

    .cbp-hrsub-inner .left-menu a:hover,
    .cbp-hrsub-inner .left-menu a.active {
        color: #afdb00;
        background: rgba(0, 0, 0, 0) url("/Content/images/design/puce-menu.png") no-repeat scroll 0 0 !important;
    }
.cbp-hrsub-inner .left-menu li.li-niveau-2 {
    color: #fff;
    display: block;
    font-family: Roboto,sans-serif;
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 18px;
    /* padding-left: 30px; */
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #333333;
    width: fit-content;
    margin-left: 30px;
    padding: 7px;
}
.cbp-hrsub-inner .left-menu li.li-niveau-3 a {
    color: #002838;
    display: block;
    font-family: Roboto,sans-serif;
    font-size: 17px;
    line-height: 17px;
    padding-left: 60px;
    text-decoration: none;
    font-weight: 400;
    text-transform: initial;
    height: 23px;
}
    .cbp-hrsub-inner .left-menu li.li-niveau-3 a:hover {
        color: #afdb00;
        background: rgba(0, 0, 0, 0) url(/Content/images/design/puce-menu.png) no-repeat scroll 30px 0px !important;
        height: 23px;
        transition: 0.1s;
    }
.cbp-hrsub-inner .right-menu a.btn-candi {
    background-image: none !important;
    color: #fff;
}

.right-menu .porte-ouverte,
.right-menu .porte-ouverte p,
.right-menu .porte-ouverte .h4 {
    background-color: rgba(77, 80, 81, 0.00);
    color: #fff !important;
}

    .right-menu .porte-ouverte p {
        font-size: 16px;
    }

    .right-menu .porte-ouverte .h4 {
        font-size: 19px;
    }

    .right-menu .porte-ouverte .bouton {
        padding-left: 70px;
        padding-right: 70px;
    }

    .right-menu .porte-ouverte .h4::after {
        background-position: -3px -674px;
    }

.col-md-7.right > ul {
    max-width: 310px;
}

.cbp-hrmenu > ul > li.cbp-hropen a.logo, .cbp-hrmenu > ul > li.cbp-hropen > a.logo:hover {
    background: #afdb00;
}

.cbp-hrsub-inner .right-menu .close {
    background-image: url("/Content/images/design/sprite.png") !important;
    background-position: 92px -2px;
    color: #4e5153 !important;
    display: inline-block;
    font-size: 35px;
    height: 50px;
    line-height: 34px;
    opacity: 1;
    padding-left: 10px;
    position: absolute;
    right: 0;
    top: 0px;
    width: 53px;
}

.right-menu .close:hover {
    opacity: 0.6;
}
/* media queries */
    .left-menu-contenair {
    max-width: 455px;
    width: 100%;
}

@media screen and (max-width: 1480px) {

    .cbp-hrmenu {
        font-size: 15px;
    }

    .flagPos {
        right: -61px;
    }
}

@media screen and (max-width: 1366px) {

    .cbp-hrmenu {
        font-size: 15px;
    }

    .flagPos {
        right: -15px;
    }
}

@media screen and (max-width: 1280px) {

    .cbp-hrmenu {
        font-size: 14px;
    }

    .flagPos {
        right: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .logo {
        width: 140px;
        /*header background-color:#afdb00;*/
    }

        .logo img.top-logo {
            width: 148px;
        }

        .logo img.scroll-logo {
            width: 140px;
            top: 22px;
        }

    .cbp-hrmenu > ul > li.first-entry {
        margin-left: 153px;
    }

    .top-logo {
        left: -4px;
        position: absolute;
        top: 26px;
    }

    .scroll-logo {
        left: 0;
        position: absolute;
        top: 45px;
    }

    .cbp-hrmenu > ul > li > a {
        padding: 5px;
    }

    .cbp-hrmenu {
        font-size: 11px;
    }

    .flagPos {
        right: 280px;
    }

    .col-sm-7.left-menu {
        width: 39%;
    }

    .left-menu {
        padding-top: 100px;
        height: 542px;
    }
}

@media screen and (max-width: 960px) {
    /*#cbp-hrmenu {
        display: none;
    }
     .header-mobile {
         display: block;
     }*/

    header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    .left-menu {
        width: 100%;
        height: auto;
    }

        .left-menu .col-md-7 {
            width: 100%;
        }

    .col-md-7.right > ul {
        max-width: 100%;
    }

    .col-sm-7.left-menu {
        width: 100%;
    }


    #cbp-hrmenu {
        position: fixed;
        overflow: auto;
        height: 100%;
        display: none;
    }

    .cbp-hrmenu {
        font-size: 120%;
        border: none;
    }

        .cbp-hrmenu > ul,
        .cbp-hrmenu .cbp-hrsub-inner {
            padding: 80px 0 0 0;
            width: 100%;
        }

        .cbp-hrmenu .cbp-hrsub-inner {
            padding: 0 2em;
            font-size: 75%;
        }

        .cbp-hrmenu > ul > li {
            display: block !important;
            border-bottom: 1px solid #dadada;
            position: relative;
        }

            .cbp-hrmenu > ul > li > a {
                background-color: transparent;
                display: block;
                margin-top: 0;
                padding: 1em 3em;
            }

    .header-mobile {
        background-color: #fff;
        display: block;
        height: 80px;
        left: 0;
        overflow: visible;
        top: 0;
        position: fixed;
        text-align: left;
        width: 100%;
        z-index: 1030;
        background-image: url("/Content/images/design/bottom-menu.gif");
        background-position: center bottom;
        background-repeat: repeat-x;
    }

    .cbp-hrmenu > ul > li.first-entry {
        margin-left: 0px;
    }

    .logo {
        display: none !important;
        background: none;
    }

    .cbp-hrmenu .cbp-hrsub {
        position: relative;
    }

    .cbp-hrsub h4 {
        padding-top: 0.6em;
    }

    .col-xs-3.right {
        display: none;
    }

    .right-menu {
        display: none;
    }

    .cbp-hropen .cbp-hrsub {
        padding: 20px 0 20px 0;
    }

    .cbp-hrmenu .cbp-hrsub-inner {
        padding: 0;
    }

    .cbp-hropen .cbp-hrsub .right {
        float: left;
    }

    .left-menu {
        padding: 0;
    }

    #recherche {
        display: block;
        height: 56px;
        width: 100%;
        padding-left: 50px;
    }

    .bouton-recherche {
        position: absolute;
        right: 15%;
        top: 9px;
    }

    .header-home {
        margin-top: 0 !important;
    }

    .cbp-hrmenu > ul > li > a.contact {
        background-color: #fff;
        display: block;
        margin-top: 0;
        padding: 1em 3em;
        color: #002838;
        height: 58px;
    }

    .cbp-hrmenu > ul > li > a:hover {
        background-color: #afdb00;
        color: #fff;
    }

    .cosmo {
        display: none;
    }

    header form {
        margin-top: -1px;
        margin-bottom: 13px;
        width: 85%;
        float: none;
    }

    header {
        margin-bottom: 30px;
    }

    li.flagDesign a {
        position: absolute;
        right: 0px;
        top: -53px;
        display: block;
        height: 54px;
        width: 68px !important;
        padding: 12px 12px 0 15px !important;
    }
    .flagPos:hover {
        position: absolute;
        right: 0;
        top: -53px;
        border-left: 1px solid #dedede;
        color: #afdb00 !important;
        font-weight: 600 !important;
    }

    .flagPos {
        position: static;
    }
    li.search{
        display:none;
    }

}

@media screen and (max-width: 780px) {
    /*  header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
       
    }

    .left-menu {
        width: 100%;
        height: auto;
    }

        .left-menu .col-md-7 {
            width: 100%;
        }

    .col-md-7.right > ul {
        max-width: 100%;
    }




    #cbp-hrmenu {
        position:fixed;
         overflow: auto;
        height: 100%;
        display: none;
    }

    .cbp-hrmenu {
        font-size: 120%;
        border: none;
    }

        .cbp-hrmenu > ul,
        .cbp-hrmenu .cbp-hrsub-inner {
            padding: 80px 0 0 0;
            width: 100%;
        }

        .cbp-hrmenu .cbp-hrsub-inner {
            padding: 0 2em;
            font-size: 75%;
        }

        .cbp-hrmenu > ul > li {
            display: block;
            border-bottom: 1px solid #dadada;
            position: relative;
        }

            .cbp-hrmenu > ul > li > a {
                background-color: transparent;
                display: block;
                margin-top: 0;
                padding: 1em 3em;
            }

    .header-mobile {
        background-color: #fff;
        display: block;
        height: 80px;
        left: 0;
        overflow: visible;
        top: 0;
        position: fixed;
        text-align: left;
        width: 100%;
        z-index: 1030;
        background-image: url("/Content/images/design/bottom-menu.gif");
        background-position: center bottom;
        background-repeat: repeat-x;
    }

    .cbp-hrmenu > ul > li.first-entry {
        margin-left: 0px;
    }

   

    .logo {
        display: none !important;
        background: none;
    }

    .cbp-hrmenu .cbp-hrsub {
        position: relative;
    }

    .cbp-hrsub h4 {
        padding-top: 0.6em;
    }

    .col-xs-3.right {
        display: none;
    }

    .right-menu {
        display: none;
    }

    .cbp-hropen .cbp-hrsub {
        padding: 20px 0 20px 0;
    }

    .cbp-hrmenu .cbp-hrsub-inner {
        padding: 0;
    }

    .cbp-hropen .cbp-hrsub .right {
        float: left;
    }

    .left-menu {
        padding: 0;
    }

    #recherche {
        display: block;
        height: 56px;
        width: 100%;
        padding-left: 50px;
    }

    .bouton-recherche {
        position: absolute;
        right: 15%;
        top: 9px;
    }

    .header-home {
        margin-top: 0 !important;
    }

    .cbp-hrmenu > ul > li > a.contact {
        background-color: #fff;
        display: block;
        margin-top: 0;
        padding: 1em 3em;
        color: #002838;
        height: 58px;
    }

    .cbp-hrmenu > ul > li > a:hover {
        background-image: none;
    }

    .cosmo {
        display: none;
    }

    header form {
        margin-top: -1px;
        margin-bottom: 13px;
        width: 85%;
        float: none;
    }

    header {
        margin-bottom: 30px;
    }

    */
    #bloc-contact-mobile {
        display: inline-block;
        width:100%;
    }
    #bloc-contact-mobile .bloc-contact-inside {
        display: inline-block;
        width: 50%;
        float:left;
        font-weight:bold;
    }
        #bloc-contact-mobile .bloc-contact-inside a {
            color:#fff;
        }
        #bloc-contact-mobile .documentation {
            background-color: #AFDB00;
            color:#fff;
            text-transform:uppercase;
            font-size:14px;
        }
        #bloc-contact-mobile .entretien {
            background-color: #00B1EB;
            color: #fff;
            text-transform: uppercase;
            font-size: 11px;
        }
        #bloc-contact-mobile .candidature {
            background-color: #46D8B7;
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
        }
        #bloc-contact-mobile .rdvperso {
            background-color: #FF974F;
            color: #fff;
            text-transform: uppercase;
            font-size: 10px;
        }
}

@media screen and (max-width: 36em) {
    .cbp-hrmenu .cbp-hrsub-inner > div {
        width: 100%;
        float: none;
        padding: 0 2em;
    }
}

.cbp-hrmenu ul li.ligo {
    display: block;
    float: left;
    margin-top: -26px;
}

.cbp-hrmenu > ul > li {
    display: inline-block;
}

    .cbp-hrmenu > ul > li > a {
    }

.logo img {
    height: auto;
}

@media screen and (max-width: 780px) {
    .cbp-hrmenu > ul > li {
        display: block;
        height: inherit;
    }

    /*.flagDesign a {
        position: absolute;
        right: 0px;
        top: -55px;
        display: block;
        height: 54px;
        width: 68px !important;
        padding: 12px 12px 0 15px!important;
    }

    .flagPos {
        position: static;
    } */

    .cbp-hrmenu .cbp-hrsub {
        top: 0;
    }
}

.col-sm-5.right-menu {
    width: calc( (48.66666667%) - 1px );
}

li.search #recherche {
    outline: none;
}

    li.search #recherche:focus {
        outline: none;
    }
/*class="spe" encadré vert menu
.trigger.spe {
    border: solid 1px #afdb00;
}*/

@media screen and (min-width: 800px) and (max-width: 1024px) {
    nav#cbp-hrmenu.cbp-hrmenu ul.main li.search {
        /*display: none;*/
    }
}

@media screen and (max-width: 480px) {
    .cbp-hrsub-inner .left-menu a {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 15px;
    }

    #cbp-hrmenu ul li div.col-sm-7.left-menu {
        width: 100%;
    }
}
/*************************************************/
/* END CSS MENU ORIGIN */
/*************************************************/

/*************************************************/
/* NEW MENU GATSBY */
/*************************************************/
/*CSS NEW MENU FOR JAMSTACK*/
.navbar-nav{
    background-color:#fff;
    padding:10px 10px;
}
.navbar-light .navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #002838 !important;
    display: inline-block;
    font-weight: 400;
    padding: 14px 8px;
    text-decoration: none;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #afdb00 !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #afdb00;
    background: rgba(0, 0, 0, 0) url(../assets/images/design/puce-menu.png) no-repeat scroll 0 0 !important;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border:none !important;
}
.navbar{
    margin-top:40px !important;
}
/*ADD BANNER MENU*/
#banner {
    position: fixed;
    background-color: #002838;
    height: 40px;
    display: block;
    z-index: 1111;
    width: 100%;
    top: 0;
    color: #fff;
    font-family:Roboto;
    font-size:17px;
}

    #banner .content-banner  {
        position: absolute;
        right: 0;
        width: 497px;
        margin-right: 130px;
    }
    #banner .content-banner.b-en {
        position: absolute;
        right: 0;
        width: 497px;
        margin-right: 0px;
    }
    #banner ul.logo-reseaux {
        margin-top: -11px;
    }
    #banner ul.ul_banner {
        width: 1280px;
        margin: 0 auto;
        position: relative;
    }
    #banner ul.ul-banner li {
        display: inline-block;
        float: left;
        margin: 7px 10px 0 0;
    }
        #banner ul.ul-banner li a {
            display: inline-block;
            text-decoration: none;
            color: #fff;
            border: 1px solid #002838;
            padding: 7px 10px;
            margin-top: -10px;
        }

            #banner ul.ul-banner li a:hover {
                border: 1px solid #fff;
                padding: 0 10px;
                background-color: white;
                color: #002838;
                transition: 0.3s;
            }
    #banner .logo-reseaux a {
        background-image: url(../assets/images/design/sprite.png);
        background-repeat: no-repeat;
        width: 43px;
        height: 32px;
        display: inline-block;
        float:left;
    }

        #banner .logo-reseaux a.facebook {
            background-position: -702px -441px;
            margin-right: 10px;
            margin-left: -20px;
        }

            #banner .logo-reseaux a.facebook:hover {
                background-position: -702px -477px;
                margin-right: 10px;
            }

        #banner .logo-reseaux a.twitter {
            background-position: -753px -441px;
        }

            #banner .logo-reseaux a.twitter:hover {
                background-position: -753px -477px;
            }

        #banner .logo-reseaux a.youtube {
            background-position: -800px -441px;
            margin-right: 10px;
        }

            #banner .logo-reseaux a.youtube:hover {
                background-position: -800px -477px;
                margin-right: 10px;
            }

        #banner .logo-reseaux a.insta {
            background-position: -855px -441px;
        }

            #banner .logo-reseaux a.insta:hover {
                background-position: -855px -477px;
            }
